.button{
  padding: 10px 20px;
  margin-right: 20px;
  color: white;
  background-color: #2ecc71;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  font-size: 25px;
}